<html>
<head>
<title>
</title>
</head>
<body>
<h5>REFORMER</h5>
<form enctype="multipart/form-data" action="/users/<%=@users.userid%>" method="post" accept-charset="UTF-8">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  username: <input type="text" name="username" value="<%=@users.username%>"><br><br>
  email: <input type="text" name="email" value="<%=@users.email%>"><br><br>
  password: <input type="text" name="password" value="<%=@users.password%>"><br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>