<html>
<head>
<title></title>
</head>
<body>
<h5>Reformer</h5>
 <% if @users.count > 0 %>
 <table>
 <tr>
 <td><b>#</b></td>
 <td><b>Username</b></td>
 <td><b>Email</b></td>
 <td><b>Password</b></td>
 <td><b>Edit User</b></td>
 </tr>
 <% counter = 0 %>
<% @users.each do |s| %>
<% counter += 1%>
 <tr>
 <td><%=counter%>.</td>
 <td><%=s.username %></td>
 <td><%=s.email %></td>
 <td><%=s.password%></td>
 <td><a href="/users/edit/<%=s.userid%>">Edit</a></td>
 </tr> 
 <% end %> 
 </table>
  
  <%else%>
  <h5> No users found !! </h5>
 <% end %>
 <h5><a href="/users/new">Add</a></h5>
</body>
</html>